@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Lato:300i|Montserrat|Playfair+Display');

nav a{
    font-family: 'Montserrat', sans-serif;
    color: #4db8c4;
    font-size: 1rem;
}

#logo{
    width: 4rem;
    height: 4rem;
}

#carouselExampleIndicators{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    font-family: 'Fjalla One', sans-serif;
    color: #4db8c4;
}

#about p{
    font-family: 'Playfair Display', serif;
    color: #4db8c4;
}

#about p.saadia{
    font-family: 'Montserrat', sans-serif;
    color: gray;
}

.main-text{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}

.text-center h1{
    font-family: 'Fjalla One', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: grey;
}

#carouselExampleControls{
    font-family: 'Lato', sans-serif;
    color: #4db8c4;
}

h4{
    font-family: 'Fjalla One', sans-serif;
    color: #4db8c4;
}

@media screen and (max-width: 961px) {
.instagram-media{display: none;}
#logo{display: none;}
p.display-4 {font-size: 2rem;}
}

u{
    color: #4db8c4;
}

button{
    background-color: #4db8c4;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bolder;
}

label{
    font-family: 'Lato', sans-serif;
}

button.btn-sharp {
  border-radius:0;
}

.contact{
    font-family: 'Fjalla One', sans-serif;
}